<div class="row row-centered">
    <div class="col-xs-6 col-centered">
        <h1>[% c.config.name %]</h1>
        <div class="well">
            [% render_login_form | none %]
        </div>
    </div>
</div>
