<!doctype html>
[%- USE today = DateTime(today = 1); -%]
<html lang="en">
    <head>

    [% PROCESS wrapper_head.tt %]
    [% PROCESS clickjack.tt %]

    </head>
    <body class='container-fluid'>
        <!-- Body Wrapper -->
        <div class="wrapper">
                <!-- Main Navigation -->
                [% PROCESS bootstrap_navbar.tt %]
                <!-- Main Content -->
            <div class="row main-content">
                [% 
                    # Hide the sidebar when no user - unless explicitly
                    # requested
                    IF ! c.user && ! hide_sidebar.defined;
                        hide_sidebar = 1;
                    END 
                %]
                <div class="fb11-main-content 
                    [% IF hide_sidebar %]col-sm-12[% ELSE %]col-md-9[% END %]
                ">
                    [% FOREACH msg IN status_msg.list %]
                        <div class="alert alert-success">
                            [% msg %]
                            <button type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-hidden="true"
                            >&times;</button>
                        </div>
                    [% END %]
                    [% FOREACH msg IN info_msg.list %]
                        <div class="alert alert-info">
                            [% msg %]
                            <button type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-hidden="true"
                            >&times;</button>
                        </div>
                    [% END %]
                    [% FOREACH msg IN error_msg.list %]
                        <div class="alert alert-danger">
                            [% msg %]
                            <button type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-hidden="true"
                            >&times;</button>
                        </div>
                    [% END %]
                    [% FOREACH msg IN warning_msg.list %]
                        <div class="alert alert-warning">
                            [% msg %]
                            <button type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-hidden="true"
                            >&times;</button>
                        </div>
                    [% END %]
                    [% content | none %]
                </div>

                <!-- Side bar -->
                [% IF c.user %]
                [% UNLESS hide_sidebar %]
                <div class="fb11-sidebar col-md-3">
                    [% PROCESS bootstrap_sidebar.tt %]
                </div>
                [% END %]
                [% END %]
            </div>
        
                <!-- /Content -->

        </div>
            <!-- Footer -->
        <footer class="row footer">
            <div class="col-sm-12">
                <a href="http://www.opusvl.com" target="_blank"><img style="height: 30px;" class="center-block" src="/static/images/opusvl_built_with_fb_footer.svg" border="0"></a>
            </div>
        </footer>
        <!-- /Container -->

        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script>
            var $body = $("body"),
                $nav = $(".navbar"),
                $bar = $(".collapse.navbar-collapse > ul.nav"),
                $toggle = $("button.navbar-toggle"),
                $seachContainer = $("div.navbar-end");
            function navresize() {
                setTimeout(function () {
                    $body.removeClass("responsive-hidden");
                    $nav.removeClass("responsive-hidden");
                    $bar.removeClass("responsive-hidden");
                    $seachContainer.removeClass("responsive-hidden");
                    $toggle.removeClass("shown");
                      $('.navbar-end ').removeClass('visible-in')
                    if ($nav.innerHeight() > 86) {
                        $body.addClass("responsive-hidden");
                        $nav.addClass("responsive-hidden");
                        $bar.addClass("responsive-hidden");
                        $toggle.addClass("shown");
                        $seachContainer.addClass("responsive-hidden");
                        $('.navbar-header').css('justify-content', 'flex-start')
                        $('.navbar-end ').addClass('visible-in')
                    }
                    if ($('.navbar-collapse').attr('style') === 'height: 0px;' || $('.navbar-collapse').attr('style') === 'height: 1px;' || $('.navbar-collapse').attr('style') === 'undefined') {
                        $('.navbar-collapse').removeAttr('style')
                        navresize()
                    }
                })
            }
            navresize()
            $(window).on("resize ", navresize);
            $(window).on('orientationchange', navresize())
        </script>
    </body>
</html>

