[% USE Dumper %]

<div class="fb11-card">
  <h1>Module lookup</h1>
  [% form.render | none %]
  [% file_path %]
  [% IF file_contents %]
    <pre>[% file_contents %]</pre>
    <pre>[% INC %]</pre>
  [% END %]
</div>

<h1>Stash</h1>
<pre>[% stash_pp %]</pre>

[% IF c.user %]
  <h1>User</h1>
  <pre> [% Dumper.dump(c.user) %] </pre>
[% END %]

<h1>Environment</h1>
<pre>[% env %]</pre>

<h1>Config</h1>
<pre>[% Dumper.dump(c.config) %]</pre>

<h1>Request</h1>
<pre>[% Dumper.dump(c.request) %]</pre>
