lib/auto/OpusVL/FB11/root/static/js/bootstrap* linguist-vendored=true
lib/auto/OpusVL/FB11/root/static/js/jquery* linguist-vendored=true
lib/auto/OpusVL/FB11/root/static/js/wymeditor/* linguist-vendored=true
