<div class="row">
  [% PROCESS fb11/admin/access/side_bar.tt %]
  [% IF c.stash.role %]
    <div class="col-sm-7 col-lg-8">
      <div class="fb11-card">
        <h1>Roles administered by
          <strong>[% c.stash.role.role %]</strong>
        </h1>
        [% form.render | none %]
      </div>
    </div> 
  [% END %]
</div>


