[% SET actions = c.controller.intranet_action_list(c) %]
[% IF actions.defined && actions.size > 0 %]
<div id="application_nav">
    <ul>
        [% FOREACH nav IN actions %]
            <li><a [% IF nav.title %] title="[% nav.title %]" [% END %] href="[% c.uri_for(nav.controller.action_for(nav.actionname)) %]"[% IF (section == nav.value) %] class="active"[% END %]>[% nav.value %]</a>
        [% END %]
    </ul>
</div>
[% END %]

