<html>
    <head>

        <title>[% header.title %]</title>

        [% IF header.favicon %]
            <link rel="shortcut icon" href="[% header.favicon %]" type="image/png" />
        [% END %]

        [% FOR css IN header.css %]
            <link rel="stylesheet" href="[% css %]" type="text/css" media="all" />
        [% END %]

        [% FOR js IN header.js %]
            <script type="text/javascript" src="[% js %]"></script>
        [% END %]

  
    </head>
    <body>
        <h1>OpusVL::AppKit wrapper</h1>
        <hr>

        [% IF status_msg.defined %]
            <div style='background-color:green;color:white;'>
                [% status_msg %]
            </div>
        [% END %]
        [% IF error_msg.defined %]
            <div style='background-color:red;'>
                [% error_msg %]
            </div>
        [% END %]

        [% content %]

    </body>
</html>
