[% META fb11feature_tablesorter = 1 %]
<h1>Testing the tables</h1>
<fieldset>
    <legend>Table test</legend>
    <table class="table tablesorter">
        <thead>
            <tr>
                <th>Name</th>
                <th>Some control</th>
                <th>
                    Another thing
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Someone</td>
                <td>A</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Else</td>
                <td>A</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Anon</td>
                <td>B</td>
                <td>A</td>
            </tr>
        </tbody>
    </table>
</fieldset>
