[% SWITCH param.data_type %]
[% CASE 'text' %]
[% param.decoded_value %]
[% CASE 'textarea' %]
[% param.decoded_value | html | html_line_break %]
[% CASE 'json' %]
[% param.value %]
[% CASE 'array' %]
<ul>
[% FOR v IN param.decoded_value %]
<li>[% v %]</li>
[% END %]
</ul>
[% CASE 'bool' %]
[% IF param.decoded_value %]True[% ELSE %]False[% END %]
[% CASE %]
[% param.value %]
[% END %]
