<h1> Change Your Password </h1>

[% IF hide_form %]
    <div class="content_block">
        <h3>Thank you, your password has been changed</h3>
        <p> <a class='btn btn-info' href="/">Return to home page</a> </p>
    </div>
[% ELSE %]
    <div class="row">
        <div class="col-sm-6 password-form">
            [% form.render | none %]
        </div>
    </div>
[% END %]
