
<h1> AppKit Administration </h1>

<ul>
    <li>
        <a href='[% c.uri_for( c.controller('AppKitAdmin::Access').action_for('index') ) %]'>
            Roles
        </a>
    </li>
    <li>
        <a href='[% c.uri_for( c.controller('AppKitAdmin::Users').action_for('index') ) %]'>
            Users
        </a>
    </li>
</ul>
